/* 제목 크기 조정 */
h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 0.9em; /* 원하는 값으로 조정 */
}

h3 {
    font-size: 0.8em;
}

/* 제목 공통 마진 */
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em;
}

/* 메타 정보 및 댓글 날짜 크기 */
.page__meta, .comment__date {
    font-size: 0.8em;
}

/* 본문 문단 및 리스트 글자 크기 */
.page__content p,
.page__content dl {
    font-size: 0.8em;
}

.page__content :not(pre)>code {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 1em;
    background: #fafafa;
    border-radius: 4px;
}

.page__content li {
    font-size: 0.7em;
}

div.highlighter-rouge, figure.highlight {
    position: relative;
    margin-bottom: 1em;
    background: #231e18;
    color: #cabcb1;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: .6em;
    line-height: 1.8;
    border-radius: 4px;
}

