h1 { 
    font-size: 1.3em;
}

.page__meta, .comment__date {
    font-size: 0.8em;
}

h2 { 
    font-size: 1.3em;
}

h2 {
    font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em;
}

.page__content p, .page__content li, .page__content dl {
    font-size: 0.8em;
}

h3 {
    font-size: 0.8em;
}
