.page__content p {
  line-height: 1.8;
}

.highlight code {
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .page__content {
    font-size: 1.05em;
  }
}

.sidebar {
  font-size: 1.1em; // 원하는 크기로 조절
}

.sidebar-nav {
  font-size: 1.1em;
}
