---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* 전체 기본 글자 크기 */
html {
  font-size: 13px;
}

/* 본문 글자 크기 미세 조정 */
.page__content {
  font-size: 0.7rem;
}

/* 코드 블록 */
.highlight pre {
  font-size: 0.7rem;
}
